.box {
  width: inherit;
  height: inherit;
  background-color: rgba(255, 166, 0, 0.387);
}

.point {
  width: 5px;
  height: 5px;
  background-color: skyblue;
}

.droppable {
  position: relative;
  width: 80vw;
  height: 80vh;
  border: 5px solid greenyellow;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
